*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 18px auto;
}

.col-1{
    width: calc((100% - 3%) /12);
}

.col-2{
    width: calc((100% - 3%) /12 * 2);
}

.col-3{
    width: calc((100% - 3%) /12 * 3);
}
.col-4{
    width: calc((100% - 3%) /12 *4);
}

.col-6{
    width: calc((100% - 3%) /12 * 6);
}

.col-12{
    width: calc((100% - 3%) /12 * 12);
}


